
/* starting code for the css  */

h2 {
    text-align: center;
    background-color: lightblue;
    color: black;
  }
h3{
  text-align: left;

}

  img {
    box-shadow: 10px 10px 5px whitesmoke;
  }
  
  section {
    background-color: #000;
  }
  
  p {text-align: left;
    font-size: 15px;
    color: black;
    border: 0em;
  }
  
  ul {text-align: centre
    border-style: solid;
    color: gray;
  }
  .container text-center{

    color: lightblue;
  }
  
  /* Styling the header, giving it a height, a background color, and some top padding */
  .header {
    height: 200px;
    padding-top: 25px;
    background: #cdcdcd;
  }
  .collapse navbar-collapse {
    float: left;
    font-size: 16px;
    color: lightskyblue;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
  }
.dropdown-menu{
  color: blue;
  width: 400px

 }
 li {
  display: inline;
}






