
/* starting code for the css  */

h1 {
    text-align: center;
    background-color: white;
    color: black;
  }

  img {
    box-shadow: 10px 10px 5px grey;
  }
  
  section {
    background-color: #000;
  }
  
  p {text-align: center;
    font-size: 15px;
    color: grey;
  }
  
  ul {text-align: centre
    border-style: solid;
    color: gray;
  }
  

  .navbar li a {
    color: #000;
    text-decoration: none;
  }
  
  /* Styling the header, giving it a height, a background color, and some top padding */
  .header {
    height: 200px;
    padding-top: 20px;
    background: #cdcdcd;
  }
  .navbar a {
    float: left;
    font-size: 16px;
    color: lightskyblue;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
  }
  #nav-select{
    visibility: invisible;


  }

.col-md-{
color: blueviolet

  }
  
.Temperature1{
    padding-top: 25px;
    text-align: left;


}
  .Cloudiness1{
    padding-top: 25px;
    text-align: left;

  }

  .image1{
    height: 300px;
    width: 500px;

  }